<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.launch3browsers</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>1F7CD585-9BB7-48C4-A922-23C1CACEB713</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D9071CF7-5F21-4A3B-95E8-255CA4BB204C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>5D65F770-ECDD-449A-BDC7-6EC6DBD39138</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B9A84DF6-27E9-40F0-AA53-196FF72B96E9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A16C7CE5-01DD-432A-B3D5-27BDEDF8F5D9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1F7CD585-9BB7-48C4-A922-23C1CACEB713</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B9A84DF6-27E9-40F0-AA53-196FF72B96E9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D9071CF7-5F21-4A3B-95E8-255CA4BB204C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C50B748B-FDEB-42A2-ACD7-BC2C96B1EF77</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1F7CD585-9BB7-48C4-A922-23C1CACEB713</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D9071CF7-5F21-4A3B-95E8-255CA4BB204C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AF933A97-6EC6-422D-BD15-1AF532C24080</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1FA82D23-0412-435D-8C17-7453539A8982</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5EF0A5A7-B7A5-435F-8577-BDD9DDD27ABB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vero Pepperrell</string>
	<key>description</key>
	<string>Launch a URL in 3 different browsers at once to speed up website testing</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Launch URL in 3 Browsers</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.apple.Safari</string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>AF933A97-6EC6-422D-BD15-1AF532C24080</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:browsers_keyword}</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Launch {query} in all browsers</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C50B748B-FDEB-42A2-ACD7-BC2C96B1EF77</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.Chrome</string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>1FA82D23-0412-435D-8C17-7453539A8982</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>D9071CF7-5F21-4A3B-95E8-255CA4BB204C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^(http|https):</string>
						<key>outputlabel</key>
						<string>has scheme</string>
						<key>uid</key>
						<string>5D65F770-ECDD-449A-BDC7-6EC6DBD39138</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>1F7CD585-9BB7-48C4-A922-23C1CACEB713</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>https://{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B9A84DF6-27E9-40F0-AA53-196FF72B96E9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>triggerid</key>
				<string>3browsers</string>
				<key>triggername</key>
				<string>Launch all browsers</string>
				<key>workflowonly</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.remote</string>
			<key>uid</key>
			<string>A16C7CE5-01DD-432A-B3D5-27BDEDF8F5D9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>org.mozilla.firefox</string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>5EF0A5A7-B7A5-435F-8577-BDD9DDD27ABB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage

Speed up website testing by opening a URL in Safari, Google Chrome, and Mozilla Firefox via the Browsers Keyword (default: `3b`).

![Open alfredapp.com in three browsers](images/keyword.png)</string>
	<key>uidata</key>
	<dict>
		<key>1F7CD585-9BB7-48C4-A922-23C1CACEB713</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>The Conditional Utility works out whether your URL includes a URL handler (https or http), and adds it if it's not already included.</string>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>265</real>
		</dict>
		<key>1FA82D23-0412-435D-8C17-7453539A8982</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>Set to open in Google Chrome</string>
			<key>xpos</key>
			<real>635</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
		<key>5EF0A5A7-B7A5-435F-8577-BDD9DDD27ABB</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>Set to open in Firefox. Any of these "Open URL" objects will appear without the small icon to the right if the browser is not found on your Mac.</string>
			<key>xpos</key>
			<real>635</real>
			<key>ypos</key>
			<real>365</real>
		</dict>
		<key>A16C7CE5-01DD-432A-B3D5-27BDEDF8F5D9</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Add this object to an Alfred Remote page to trigger the workflow from your iOS device. It will use the macOS Clipboard content as the URL to launch.</string>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>355</real>
		</dict>
		<key>AF933A97-6EC6-422D-BD15-1AF532C24080</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>Set to open in Safari</string>
			<key>xpos</key>
			<real>635</real>
			<key>ypos</key>
			<real>75</real>
		</dict>
		<key>B9A84DF6-27E9-40F0-AA53-196FF72B96E9</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>C50B748B-FDEB-42A2-ACD7-BC2C96B1EF77</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Use keyword "3b" followed by the URL you want to launch in all browsers.</string>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>D9071CF7-5F21-4A3B-95E8-255CA4BB204C</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>450</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>3b</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Browsers Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>browsers_keyword</string>
		</dict>
	</array>
	<key>version</key>
	<string>2022.1</string>
	<key>webaddress</key>
	<string>https://www.alfredapp.com</string>
</dict>
</plist>
